* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mova";
  src: url("./fonts/mova.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* nav bar */
.header {
  background-color: rgb(38, 42, 16);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header div:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  font-family: "Mova";
  text-transform: uppercase;
}
.header section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header section div:hover hr {
  width: 30%;
  transition: all 0.3s ease-in-out;
  visibility: visible;
}
.header section div button {
  background-color: #262a10;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: "Mova";
  font-size: 20px;
  cursor: pointer;
  margin: 0px 30px;
  text-transform: uppercase;
}
.header section div hr {
  width: 0px;
  visibility: hidden;
  align-items: center;
}
.header section div button:hover {
  color: rgba(255, 255, 255, 0.555);
  transition: all 0.3s ease-in-out;
}

/* hero section*/

.hero-section {
  height: 90vh;
  position: relative;
}

.meteor {
  background-color: #262a10;
}
.hero-text-container {
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #262a10;
  text-align: start;
}
.hero-text-container-inner {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.text-in-hero {
  margin: 0px;
  font-family: "Mova";
  font-weight: bold;
}
.image-blackbackground-holder {
  width: 105vw;
  height: 105vw;
  background-color: rgba(22, 25, 9, 0.872);
  transform: rotate(45deg);
  position: absolute;
  top: 20%;
  right: -50%;
  display: flex;
}
.image-blackbackground-holder img {
  width: 70%;
  /* height: 70%; */
  transform: rotate(-45deg);
}
