* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mova";
  src: url("./fonts/mova.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* nav bar */
.header {
  background-color: rgb(38, 42, 16);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header div:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  font-family: "Mova";
  text-transform: uppercase;
}
.header section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header section div:hover hr {
  width: 30%;
  transition: all 0.3s ease-in-out;
  visibility: visible;
}
.header section div button {
  background-color: #262a10;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: "Mova";
  font-size: 20px;
  cursor: pointer;
  margin: 0px 30px;
  text-transform: uppercase;
}

.header section div hr {
  width: 0px;
  visibility: hidden;
  align-items: center;
}
.header section div button:hover {
  color: rgba(255, 255, 255, 0.555);
  transition: all 0.3s ease-in-out;
}

/* hero section*/

.hero-section {
  height: 90vh;
  position: relative;
}

.meteor {
  background-color: #262a10;
}
.hero-text-container {
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #262a10;
  text-align: start;
}
.hero-text-container-inner {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.text-in-hero {
  margin: 0px;
  font-family: "Mova";
  font-weight: bold;
}
.image-blackbackground-holder {
  width: 105vw;
  height: 105vw;
  background-color: rgba(22, 25, 9, 0.872);
  transform: rotate(45deg);
  position: absolute;
  top: 20%;
  right: -50%;
  display: flex;
}
.image-blackbackground-holder img {
  width: 70%;
  /* height: 70%; */
  transform: rotate(-45deg);
}

/* about-container */
.about-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #262a10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 50px;
}
.about-inner-container {
  width: 40%;
  max-width: 1200px;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.about-p {
  font-size: 30px;
  line-height: 1.6;
  text-align: start;
  font-family: "Mova";
  margin: 0px;
  font-weight: bolder;
}
.about-h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: start;
  font-family: poppins;
  margin-bottom: 20px;
  margin: 0px;
  font-weight: bolder;
}
.about-description {
  font-size: 15px;
  line-height: 1.6;
  text-align: start;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-weight: 500;
}
.about-skills-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.box-1 {
  padding: 10px 20px;
  width: 250px;
  height: 300px;
  border: 2px solid #262a10;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
  background-color: #262a10;
  box-shadow: 10px 10px 8px #262a1085;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-1 img {
  height: 100px;
  margin-bottom: 30px;
}
.box-1:hover {
  transform: scale(1.01);
  transition: linear ease-in-out 1s;
}
.box-1 p {
  font-family: mova;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .header section div button {
    margin: 0px 10px;
    padding: 8px 10px;
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .header section div button {
    margin: 0px 5px;
    padding: 5px 7px;
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .text-in-hero {
    margin-left: 20px;
    font-size: 60px;
  }
  .text-p-in-hero {
    margin-left: 20px;

    font-size: 18px;
  }
  .about-inner-container {
    width: 60%;
  }
  .about-p {
    font-size: 23px;
  }
  .about-h2 {
    font-size: 40px;
  }
  .about-description {
    font-size: 13px;
  }
  .about-skills-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
  }
}

@media (max-width: 800px) {
  .text-in-hero {
    margin-left: 20px;
    font-size: 50px;
  }
  .text-p-in-hero {
    margin-left: 20px;
    font-size: 15px;
  }
  .image-blackbackground-holder {
    width: 105vw;
    height: 105vw;
    background-color: rgba(22, 25, 9, 0.872);
    transform: rotate(0deg);
    position: absolute;
    top: -40%;
    right: -30%;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .image-blackbackground-holder img {
    width: initial;
    /* height: 70%; */
    overflow: hidden;
    transform: rotate(0deg);
    margin-top: 240px;
  }
}

@media (max-width: 600px) {
  .text-in-hero {
    margin-left: 30px;
    font-size: 40px;
  }
  .text-p-in-hero {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 700;
  }
  .image-blackbackground-holder {
    width: 125vw;
    height: 125vw;
    background-color: rgba(22, 25, 9, 0.872);
    transform: rotate(0deg);
    position: absolute;
    top: -40%;
    right: -40%;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .image-blackbackground-holder img {
    width: initial;
    /* height: 70%; */
    overflow: hidden;
    transform: rotate(0deg);
    margin-top: 240px;
  }
}

@media (max-width: 450px) {
  .hero-text-container-inner {
    margin-top: 370px;
    width: 90%;
  }
  .text-in-hero {
    margin-left: 30px;
    font-size: 40px;
  }
  .text-p-in-hero {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 700;
  }
  .image-blackbackground-holder {
    width: 125vw;
    height: 125vw;
    background-color: rgba(22, 25, 9, 0.872);
    transform: rotate(0deg);
    position: absolute;
    top: -20%;
    right: -40%;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .image-blackbackground-holder img {
    width: initial;
    /* height: 70%; */
    overflow: hidden;
    transform: rotate(0deg);
    margin-top: 160px;
  }
}

@media (max-width: 380px) {
  .hero-text-container-inner {
    margin-top: 370px;
    width: 100%;
  }
  .text-in-hero {
    margin-left: 30px;
    font-size: 40px;
  }
  .text-p-in-hero {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 700;
    width: 90%;
  }
  .image-blackbackground-holder {
    width: 125vw;
    height: 125vw;
    background-color: rgba(22, 25, 9, 0.872);
    transform: rotate(0deg);
    position: absolute;
    top: -20%;
    right: -40%;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .image-blackbackground-holder img {
    width: initial;
    /* height: 70%; */
    overflow: hidden;
    transform: rotate(0deg);
    margin-top: 140px;
  }
}
